<template>
  <div class="shop-checkout-billing-details">
    <div class="row">
      <div class="col-md-6">
        <div class="info-label">
          Enter Card Details
        </div>
        <div class="info-fields">
          <Input
            ref="cardNumber"
            v-model="cardNumber"
            :label="'Card Number'"
            :required="true"
            @keyupEnter="next" />
          <Input
            ref="cardNumberName"
            v-model="cardNumberName"
            :label="'Card Number Name'"
            :required="true"
            @keyupEnter="next" />
        </div>
        <div class="terms-and-conditions">
          <span class="checkbox-custom">
            <span>
              Accept the
              <span class="pointer text-underline">Terms</span>
              and
              <span class="pointer text-underline">Conditions</span>
            </span>
            <input
              v-model="termsChecked"
              type="checkbox">
            <span
              class="checkmark"
              @click="termsChecked = !termsChecked" />
          </span>
        </div>
      </div>
      <div
        v-if="!isAuthenticated"
        class="col-md-6">
        <Spinner :loading="loading" />
        <div class="info-label">
          Log In
        </div>
        <div class="info-fields">
          <Input
            ref="email"
            v-model="email"
            :type="'email'"
            :label="'Your e-mail'"
            :required="true"
            class="input-element"
            @keyupEnter="next" />
          <Input
            ref="password"
            v-model="password"
            :type="'password'"
            :label="'Password'"
            :required="true"
            class="input-element"
            @keyupEnter="next" />
        </div>
        <div
          v-if="errorMsg"
          class="msg-error">
          {{ errorMsg }}
        </div>
      </div>
    </div>
    <div class="detail-footer">
      <button
        type="button"
        class="btn btn-primary button-primary"
        :disabled="!termsChecked"
        @click="next">
        {{ isAuthenticated ? 'PURCHASE' : 'PURCHASE AND LOGIN' }}
      </button>
    </div>
  </div>
</template>

<script>
import Input from '@/components/shared/form-elements/Input.vue';
import Spinner from '@/components/shared/Spinner.vue';

export default {
  name: 'ShopCheckoutBillingDetails',
  components: {
    Input,
    Spinner,
  },
  data() {
    return {
      loading: false,
      termsChecked: false,
      cardNumber: '',
      cardNumberName: '',
      email: '',
      password: '',
      errorMsg: '',
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
  },
  methods: {
    isValid() {
      let isValid = true;
      Object.values(this.$refs).forEach((value) => {
        if (value) isValid = value.isValid() && isValid;
      });

      return isValid;
    },
    next() {
      if (!this.isValid()) return;

      if (!this.isAuthenticated) {
        this.login();
      } else {
        this.$emit('next');
      }
    },
    login() {
      this.loading = true;
      this.errorMsg = '';
      const loginData = {
        email: this.email,
        password: this.password,
      };

      this.$store.dispatch('login', loginData).then(() => {
        this.next();
      }).catch((err) => {
        this.errorMsg = err.response?.data?.message || '';
      }).finally(() => {
        this.loading = false;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.info-label {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.terms-and-conditions {
  line-height: 25px;
  font-size: 13px;
  margin-bottom: 10px;

  .text-underline {
    text-decoration: underline;
  }
}

.detail-footer {
  margin-top: 30px;

  .btn {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
  }
}
</style>
