<template>
  <div class="shop-checkout">
    <div class="row">
      <div class="col-md-8">
        <div class="checkout-step-graph">
          <div
            class="round-step left"
            :class="{ 'active': step === 0 }" />
          <div class="step-bridge" />
          <div
            class="round-step right"
            :class="{ 'active': step === 1 }" />
        </div>
        <div class="checkout-step-graph-info">
          <span :class="{ 'active': step === 0 }">
            Details
          </span>
          <span :class="{ 'active': step === 1 }">
            Billing Details
            <span v-if="!isAuthenticated"> and Login</span>
          </span>
        </div>
        <ShopCheckoutDetails
          v-if="step === 0"
          @next="onDetails" />
        <ShopCheckoutBillingDetails
          v-if="step === 1"
          @next="onBillingDetails" />
      </div>
      <div class="col-md-1" />
      <ShopCheckoutSummary class="col-md-3" />
    </div>
  </div>
</template>

<script>
import ShopCheckoutSummary from './ShopCheckoutSummary.vue';
import ShopCheckoutDetails from './ShopCheckoutDetails.vue';
import ShopCheckoutBillingDetails from './ShopCheckoutBillingDetails.vue';

export default {
  name: 'ShopCheckout',
  components: {
    ShopCheckoutSummary,
    ShopCheckoutDetails,
    ShopCheckoutBillingDetails,
  },
  data() {
    return {
      step: 0, // 0 -> Details, 1 -> BillingDetails
      details: null,
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    selectedProducts() {
      return this.$store.state.shop.selectedProducts;
    },
  },
  methods: {
    onDetails(details) {
      this.details = details;
      this.step = 1;
    },
    onBillingDetails() {
      const savedProducts = {
        order: {
          userId: this.user.userId,
          ...this.details,
        },
        products: this.selectedProducts,
      };

      this.$store.dispatch('saveProducts', savedProducts)
        .then(() => {
          this.$store.dispatch('emptySelectedProducts');
          this.$store.dispatch('toggleShop', false);
          if (this.$router.currentRoute.path !== '/my-account') {
            this.$router.push('/my-account');
          } else {
            this.$store.dispatch('getUserProducts', this.user.userId);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.shop-checkout {
  padding: 70px;

  :deep(.input) {
    margin-bottom: 20px;

    .input-label {
      padding-left: 0;
      font-size: 14px;
    }

    input {
      height: 40px;
      padding: 0 10px;
      border-radius: 0;
    }
  }
}

.checkout-step-graph {
  position: relative;
  display: flex;
  justify-content: space-between;

  .round-step {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 50px;
    z-index: 1;
  }

  .round-step.active {
    background-color: #000;
    border-color: #c6c6c6;
  }

  .step-bridge {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    z-index: -1;
  }
}

.checkout-step-graph-info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #bebebe;
  font-size: 20px;
  font-weight: 700;

  .active {
    color: #000;
  }
}
</style>
