<template>
  <div class="shop-popup">
    <div
      class="icon-close flex-center pointer"
      @click="toggleShop">
      <i class="fas fa-times" />
    </div>
    <div class="shop-popup-title text-upper flex-center">
      {{ title }}
    </div>
    <vue-scroll>
      <div class="shop-popup-body">
        <slot @goToNextStep="$emit('goToNextStep')" />
      </div>
    </vue-scroll>
  </div>
</template>

<script>
export default {
  name: 'ShopPopup',
  props: {
    title: {
      type: String,
      required: true,
      default: '-',
    },
  },
  methods: {
    toggleShop() {
      this.$store.dispatch('toggleShop', false);
    },
  },
};
</script>

<style lang="scss" scoped>
.icon-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border: 1px solid #e3e8f0;
  border-radius: 50%;
  text-align: center;
  font-size: 26px;
}

.shop-popup-title {
  height: 140px;
  font-size: 46px;
  font-weight: 700;
  border-bottom: 1px solid #e3e8f0;
}

.shop-popup-body {
  max-height: 70vh;
}
</style>
