<template>
  <div class="shop-shopping-cart">
    <div class="shopping-cart-header row flex-center-v">
      <div class="col-md-3" />
      <div class="col-md-4">
        Product
      </div>
      <div class="col-md-1">
        Price
      </div>
      <div class="col-md-2">
        HRS QTY
      </div>
      <div class="col-md-1">
        Amount
      </div>
      <div class="col-md-1" />
    </div>
    <div class="shopping-cart-body">
      <div
        v-for="(product, i) in selectedProducts"
        :key="i"
        class="body-item row flex-center-v">
        <div class="col-md-3 img-container flex-center">
          <img :src="`${baseUrl}${product.pictureUrl}`">
        </div>
        <div class="col-md-4">
          {{ product.name }}
        </div>
        <div class="col-md-1">
          Price
        </div>
        <div class="col-md-2 flex-center-v">
          <span>{{ product.quantity }}</span>
          <div class="button-operations flex-center text-center">
            <div
              class="minus pointer"
              @click="minusProduct(product)">
              -
            </div>
            <div
              class="plus pointer"
              @click="plusProduct(product)">
              +
            </div>
          </div>
        </div>
        <div class="col-md-1">
          ${{ product.price }}
        </div>
        <div class="col-md-1">
          <div
            class="button-remove-product flex-center pointer"
            @click="removeProduct(product)">
            <i class="fa fa-times" />
          </div>
        </div>
      </div>
    </div>
    <div class="shoping-cart-footer">
      <div
        v-if="selectedProducts.length"
        class="row">
        <div class="col-md-6" />
        <div class="col-md-1">
          Total
        </div>
        <div class="col-md-1">
          ${{ totalPrice }}
        </div>
        <div class="col-md-1" />
        <div class="col-md-3">
          <button
            type="button"
            class="btn btn-primary button-primary"
            @click="$emit('goToNextStep')">
            COMPLETE PURCHASE
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShopShoppingCart',
  data() {
    return {
      baseUrl: this.$store.state.config.baseURL,
    };
  },
  computed: {
    selectedProducts() {
      return this.$store.state.shop.selectedProducts;
    },
    totalPrice() {
      return this.$store.getters.totalPrice;
    },
  },
  methods: {
    minusProduct(product) {
      if (product.quantity > 1) {
        // eslint-disable-next-line no-param-reassign
        product.quantity -= 1;
      }
    },
    plusProduct(product) {
      if (product.quantity < 10) {
        // eslint-disable-next-line no-param-reassign
        product.quantity += 1;
      }
    },
    removeProduct(product) {
      this.$store.dispatch('removeProduct', product);
    },
  },
};
</script>

<style lang="scss" scoped>
.shopping-cart-header {
  margin-left: 0;
  margin-right: 0;
  height: 46px;
  font-weight: 700;
  border-bottom: 1px solid #e3e8f0;
}

.shopping-cart-body {
  font-size: 18px;
  font-weight: 700;
}

.body-item {
  margin-left: 0;
  margin-right: 0;
  height: 150px;
}

.img-container {
  height: 100%;
  overflow: hidden;

  & > img {
    display: block;
    height: 100%;
    padding: 10px;
  }
}

.button-operations {
  margin-left: 15px;
  height: 26px;
  width: 116px;
  color: #fff;
  background-color: #1793cd;
  box-shadow: 0 2px 5px #00000033;
  border-radius: 16px;

  .minus,
  .plus {
    width: 50%;
    user-select: none;
  }

  .minus {
    border-right: 1px solid #fff;
  }
}

.button-remove-product {
  height: 26px;
  width: 58px;
  color: #fff;
  background-color: #1793cd;
  font-size: 14px;
  box-shadow: 0 2px 5px #00000033;
  border-radius: 2px;
}

.shoping-cart-footer {
  font-size: 21px;
  padding-top: 10px;
  padding-bottom: 40px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.button-primary {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
</style>
