<template>
  <div class="shop-checkout-details">
    <div class="detail-fields">
      <Input
        ref="firstName"
        v-model="firstName"
        :label="'First Name'"
        :required="true"
        @keyupEnter="next" />
      <Input
        ref="lastName"
        v-model="lastName"
        :label="'Last Name'"
        :required="true"
        @keyupEnter="next" />
      <Input
        ref="streetAddress"
        v-model="streetAddress"
        :label="'Street Address'"
        :required="true"
        @keyupEnter="next" />
      <Input
        ref="area"
        v-model="area"
        :label="'Area'"
        :required="true"
        @keyupEnter="next" />
      <Input
        ref="city"
        v-model="city"
        :label="'City'"
        :required="true"
        @keyupEnter="next" />
      <Input
        ref="phoneNumber"
        v-model="phoneNumber"
        :label="'Phone number'"
        :required="true"
        @keyupEnter="next" />
    </div>
    <div class="detail-footer">
      <button
        type="button"
        class="btn btn-primary button-primary"
        @click="next">
        NEXT
      </button>
    </div>
  </div>
</template>

<script>
import Input from '@/components/shared/form-elements/Input.vue';

export default {
  name: 'ShopCheckoutDetails',
  components: {
    Input,
  },
  data() {
    return {
      firstName: '',
      lastName: '',
      streetAddress: '',
      area: '',
      city: '',
      phoneNumber: '',
    };
  },
  methods: {
    isValid() {
      let isValid = true;
      Object.values(this.$refs).forEach((value) => {
        isValid = value.isValid() && isValid;
      });

      return isValid;
    },
    next() {
      if (!this.isValid()) return;

      const details = {
        firstName: this.firstName,
        lastName: this.lastName,
        streetAddress: this.streetAddress,
        area: this.area,
        city: this.city,
        phoneNumber: this.phoneNumber,
        addressTypeId: 1, // Hardcoded
        addressType: null, // Hardcoded
      };
      this.$emit('next', details);
    },
  },
};
</script>

<style lang="scss" scoped>
.detail-fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .input {
    width: 46%;
  }
}

.detail-footer {
  margin-top: 30px;

  .btn {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
  }
}
</style>
