<template>
  <div class="sumamry">
    <div class="summary-title">
      Summary
    </div>
    <div class="summary-body">
      <div class="summary-body-item text-bold">
        <span>Price ({{ numberOfItems }} items)</span>
        <span>$ {{ totalPrice }}</span>
      </div>
      <div class="summary-body-item">
        <span>Delivery Charge</span>
        <span>$ {{ deliveryCharge }}</span>
      </div>
      <div class="summary-body-item text-bold">
        <span>Total Price</span>
        <span>$ {{ totalPrice + deliveryCharge }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShopCheckotuSummary',
  data() {
    return {
      deliveryCharge: 15,
    };
  },
  computed: {
    numberOfItems() {
      return this.$store.state.shop.selectedProducts.length;
    },
    totalPrice() {
      return this.$store.getters.totalPrice;
    },
  },
};
</script>

<style lang="scss" scoped>
.summary-title {
  font-size: 23px;
  padding-bottom: 20px;
}

.summary-body-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e3e8f0;

  &:last-child {
    border-bottom: 0;
  }
}
</style>
