<template>
  <div class="shop flex-center">
    <div class="shop-overlay" />
    <ShopPopup :title="titles[step]">
      <ShopShoppingCart
        v-if="step === 0"
        @goToNextStep="goToNextStep" />
      <ShopCheckout
        v-if="step === 1"
        @goToNextStep="goToNextStep" />
    </ShopPopup>
  </div>
</template>

<script>
import ShopPopup from './ShopPopup.vue';
import ShopShoppingCart from './ShopShoppingCart.vue';
import ShopCheckout from './ShopCheckout.vue';

export default {
  name: 'Shop',
  components: {
    ShopPopup,
    ShopShoppingCart,
    ShopCheckout,
  },
  data() {
    return {
      step: 0,
      titles: [
        'Shopping Cart',
        'Checkout',
        'Checkout',
      ],
    };
  },
  methods: {
    goToNextStep() {
      if (this.step < 1) {
        this.step += 1;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.shop,
.shop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.shop-overlay {
  background-color: rgba(#000, 0.5);
}

.shop-popup {
  position: relative;
  width: 65vw;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  z-index: 1001;
}
</style>
