<template>
  <div class="section-whywork row">
    <div class="col-md-1" />
    <div class="col-md-10">
      <div class="section-whywork-title flex-center">
        <span>{{ title }}</span>
      </div>
      <div class="row">
        <SectionArticleShort
          v-for="(article, i) in articles"
          :key="i"
          :img-src="article.image"
          :title="article.title"
          :description="article.description"
          class="col-md-4 text-center" />
      </div>
    </div>
    <div class="col-md-1" />
  </div>
</template>

<script>
import SectionArticleShort from '@/components/shared/SectionArticleShort.vue';

export default {
  name: 'SectionWhyWork',
  components: {
    SectionArticleShort,
  },
  computed: {
    title() {
      return this.$store.state.services?.whyWorkWithUs?.title || '';
    },
    articles() {
      return this.$store.state.services?.whyWorkWithUs?.articles || [];
    },
  },
};
</script>

<style lang="scss" scoped>
.section-whywork {
  background-color: #f6f8fb;
  padding: 33px 0;
  margin: 0;
}

.section-whywork-title {
  margin-bottom: 60px;
}

.section-whywork-title span  {
  font-size: 25px;
  position: relative;
  padding: 10px 0;

  &:after  {
    content:'';
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: #5e5a5a;
    border-radius: 4px;
  }
}
</style>
