<template>
  <div class="section-hire-talent">
    <div class="hire-talent-title text-center">
      HIRE TALENT
    </div>
    <div class="hire-talent-body container">
      <div class="row">
        <div
          v-for="(product, i) in products"
          :key="i"
          class="col-md-4 flex-center">
          <ShopProduct
            :product="product"
            @selectProduct="selectProduct" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ShopProduct from '@/components/shared/ShopProduct.vue';

export default {
  name: 'SectionHireTalent',
  components: {
    ShopProduct,
  },
  computed: {
    products() {
      return this.$store.state.shop.products || [];
    },
  },
  mounted() {
    if (!this.products.length) {
      this.$store.dispatch('getProducts');
    }
  },
  methods: {
    selectProduct(product) {
      this.$store.dispatch('selectProduct', product);
    },
  },
};
</script>

<style lang="scss" scoped>
.hire-talent-title {
  font-size: 40px;
  padding: 60px 0;
}

.hire-talent-body {
  padding-bottom: 100px;
}
</style>
