<template>
  <div class="section-featured-services row">
    <div class="col-md-1" />
    <div class="col-md-10">
      <div class="featured-services-title flex-center">
        <span>{{ title }}</span>
      </div>
      <div class="featured-services-articles row">
        <SectionArticleShort
          v-for="(article, i) in articles"
          :key="i"
          :title="article.title"
          :description="article.description"
          class="col-md-4 text-center" />
      </div>
    </div>
    <div class="col-md-1" />
  </div>
</template>

<script>
import SectionArticleShort from '@/components/shared/SectionArticleShort.vue';

export default {
  name: 'SectionFeaturedServices',
  components: {
    SectionArticleShort,
  },
  computed: {
    title() {
      return this.$store.state.services?.featuredServices?.title || '';
    },
    articles() {
      return this.$store.state.services?.featuredServices?.articles || [];
    },
  },
};
</script>

<style lang="scss" scoped>
.section-featured-services {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}

.featured-services-title {
  margin-bottom: 20px;
}

.featured-services-title span {
  position: relative;
  padding-bottom: 10px;
  font-size: 25px;

  &:after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 15%;
    background: #5e5a5a;
    height: 6px;
    border-radius: 6px;
  }
}
</style>
