<template>
  <div class="banner-content banner-content-services">
    <div class="content-top row">
      <div class="col-md-12 banner-content-title text-center">
        SERVICES
      </div>
    </div>
    <div class="content-bottom row">
      <div class="col-md-12 text-center">
        <button
          type="button"
          class="btn btn-primary button-secondary">
          LEARN MORE
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BannerContentServices',
};
</script>

<style lang="scss" scoped>
.banner-content-services {
  align-self: flex-end;
  margin-bottom: 60px;
}

.content-bottom {
  padding-top: 40px;
}
</style>
