<template>
  <div class="banner-content banner-content-home">
    <div class="content-top row">
      <div class="col-md-6">
        <div class="banner-content-title">
          {{ content.title }}
        </div>
        <div class="content-top-description">
          {{ content.description }}
        </div>
        <div class="content-top-label">
          {{ content.label }}
        </div>
        <div class="content-top-buttons">
          <button
            type="button"
            class="btn btn-primary button-secondary">
            LEARN MORE
          </button>
          <button
            type="button"
            class="btn btn-primary button-outline"
            @click="goToForm">
            CONTACT US
          </button>
        </div>
      </div>
      <div class="col-md-6 content-img" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BannerContentHome',
  data() {
    return {
      content: {
        title: 'Outsourced Dev Redefined',
        description: `Lore ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore`,
        label: 'Develop Creative Apps with Professionals',
      },
    };
  },
  methods: {
    goToForm() {
      const contactEl = document.getElementById('contact-form');
      if (contactEl) {
        contactEl.scrollIntoView();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.banner-content-home {
  align-self: flex-end;
  margin-bottom: 60px;
}

.content-top-description {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
}

.content-top-label {
  font-size: 20px;
}

.content-top-buttons {
  padding-top: 20px;

  .btn:first-child {
    margin-right: 30px;
  }
}

.content-img {
  background: url('~@/assets/images/home-banner-content-phone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
</style>
