.button-primary {
  color: #fff;
  background-color: #1793cd;
  border: 1px solid #1793cd;
  border-radius: 24px;

  &:hover,
  &:focus,
  &:active {
    color: #fff !important;
    background-color: #1793cd !important;
    border: 1px solid #1793cd !important;
    box-shadow: none !important;
  }
}

.button-secondary {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 24px;

  &:hover,
  &:focus,
  &:active {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
  }
}

.button-outline {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 24px;

  &:hover,
  &:focus,
  &:active:hover {
    color: #fff !important;
    background-color: transparent !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
  }
}

.btn:disabled,
.btn[disabled] {
  cursor: default;
}
