.user-popup {
  color: #65687a;
  font-size: 11px;
  font-weight: 700;

  .btn.button-primary {
    width: 100%;
  }
}

.user-popup-header {
  height: 36px;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e3e8f0;

  .header-title {
    color: #1793cd;
  }

  .close-icon {
    padding: 5px;
    transition: background-color 0.2s ease;
    border-radius: 3px;

    &:hover {
      background-color: rgba(#000, 0.2);
    }
  }
}

.user-popup-body {
  max-height: 70vh;
  background-color: #fff;
}

.user-popup-content {
  padding: 30px 40px;
}

.user-popup-footer {
  position: relative;
  margin: 0 40px;
  height: 100px;
  font-weight: 700;
  border-top: 1px solid #c2c5d8;

  .footer-label {
    position: absolute;
    top: -8px;
    padding: 0 7px;
    color: #c2c5d8;
    background-color: #fff;
  }

  .footer-link {
    font-size: 17px;
    text-decoration: underline;
  }
}
