<template>
  <div class="banner">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Banner',
};
</script>

<style lang="scss" scoped>
.banner {
  height: 100vh;
  min-height: 700px;
  background-image: url('~@/assets/images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
</style>
