<template>
  <div class="contact-form">
    <Spinner :loading="loading" />
    <div class="form-header" />
    <div
      v-if="isBodyShown"
      class="form-body">
      <div class="form-body-header row">
        <Input
          ref="name"
          v-model="name"
          :label="'SCREEN NAME'"
          :placeholder="'Enter your nickname'"
          :required="true"
          class="col-md-4"
          @keyupEnter="sendMessage" />
        <Input
          ref="email"
          v-model="email"
          :type="'email'"
          :label="'E-MAIL'"
          :placeholder="'Enter your e-mail'"
          :required="true"
          class="col-md-4"
          @keyupEnter="sendMessage" />
        <Input
          ref="website"
          v-model="website"
          :label="'WEBSITE (OPTIONAL)'"
          :placeholder="'http://'"
          class="col-md-4"
          @keyupEnter="sendMessage" />
      </div>
      <div class="form-body-message">
        <Textarea
          ref="message"
          v-model="message"
          :label="'YOUR MESSAGE'"
          :required="true" />
        <div
          v-if="successMsg"
          class="msg-success">
          {{ successMsg }}
        </div>
      </div>
    </div>
    <div class="form-footer flex-center">
      <button
        type="button"
        class="btn btn-primary button-primary"
        @click="sendMessage">
        SEND MESSAGE
      </button>
    </div>
  </div>
</template>

<script>
import Spinner from '@/components/shared/Spinner.vue';
import Input from '@/components/shared/form-elements/Input.vue';
import Textarea from '@/components/shared/form-elements/Textarea.vue';

export default {
  name: 'ContactForm',
  components: {
    Spinner,
    Input,
    Textarea,
  },
  data() {
    return {
      name: '',
      email: '',
      website: '',
      message: '',
      successMsg: '',
      loading: false,
      isBodyShown: true, // for simple values reset
    };
  },
  methods: {
    isValid() {
      let isValid = true;
      Object.values(this.$refs).forEach((value) => {
        isValid = value.isValid() && isValid;
      });

      return isValid;
    },
    sendMessage() {
      if (!this.isValid()) return;

      this.loading = true;
      const contactForm = {
        nickname: this.name,
        email: this.email,
        website: this.website,
        message: this.message,
      };

      this.$store.dispatch('sendContactForm', contactForm).then(() => {
        this.loading = false;
        this.successMsg = 'Message sent!';

        // Reset data
        this.name = '';
        this.email = '';
        this.website = '';
        this.message = '';
        this.isBodyShown = false;

        this.$nextTick(() => {
          this.isBodyShown = true;
          setTimeout(() => {
            this.successMsg = '';
          }, 3000);
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.contact-form {
  position: relative;
  background-color: #fff;
  box-shadow: 0 30px 40px #00000029;
  border-radius: 5px;
}

.form-header {
  height: 70px;
  border-bottom: 1px solid #e3e8f0;
}

.form-body {
  padding: 30px 70px 0 70px;

  .input,
  :deep(input) {
    font-size: 14px;
  }
}

.form-body-message {
  margin-top: 30px;
}

.form-footer {
  padding: 30px 0;
}

.btn {
  padding-left: 100px;
  padding-right: 100px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
}
</style>
