<template>
  <div class="footer">
    <div class="container-filter flex-center-v">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <Logo />
          </div>
          <div class="col-md-6 footer-info">
            <span>{{ footerInfo }}</span>
            <div class="row copyright">
              <div class="col-md-12">
                2020 &copy; xcompany.net - All rights reserved
              </div>
            </div>
          </div>
          <div class="col-md-3" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/components/header/HeaderLogo.vue';

export default {
  name: 'Footer',
  components: {
    Logo,
  },
  data() {
    return {
      footerInfo: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem`,
    };
  },
};
</script>

<style lang="scss" scoped>
.footer {
  position: relative;
  height: 160px;
  color: #fff;
  background: url('~@/assets/images/footer-bg.png');
  background-repeat: repeat-x;
  background-position: 0 5%;
  font-size: 10px;
}

.container-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
}

.footer-info {
  margin-top: 14px;
}

.copyright {
  margin-top: 10px;
}
</style>
