<template>
  <div>
    <div
      v-if="imgSrc"
      class="section-short-img flex-center">
      <img :src="require(`@/assets/images/${imgSrc}`)">
    </div>
    <div class="section-short-title">
      {{ title }}
    </div>
    <div class="section-short-description">
      {{ description }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionArticleShort',
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    imgSrc: {
      type: String,
      required: false,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.section-short-img {
  height: 100px;
}

.section-short-title {
  margin: 16px 0;
  font-size: 25px;
}

.section-short-description {
  font-size: 20px;
  font-weight: 300;
}
</style>
