<template>
  <div class="long-article">
    <div
      class="row"
      :class="{'reverse-direction': direction === 'right'}">
      <div class="img-wrapper col-md-6 flex-center">
        <img
          v-if="imgSrc"
          :src="require(`@/assets/images/${imgSrc}`)">
      </div>
      <div class="col-md-6">
        <div class="long-article-title">
          {{ title }}
        </div>
        <div class="long-article-description">
          {{ description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Article',
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    imgSrc: {
      type: String,
      required: false,
      default: '',
    },
    direction: {
      type: String,
      required: false,
      default: 'left',
      validator(key) {
        return ['left', 'right'].includes(key);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.reverse-direction {
  flex-direction: row-reverse;
}

.long-article {
  margin-bottom: 88px;

  .long-article-title {
    font-size: 25px;
  }

  .long-article-description {
    font-size: 20px;
    font-weight: 300;
  }
}

.img-wrapper img {
  display: block;
  width: 100%;
}
</style>
