<template>
  <div class="shop-product">
    <div class="shop-product-header">
      <img :src="`${baseUrl}${product.pictureUrl}`">
    </div>
    <div class="shop-product-footer">
      <div class="footer-title">
        {{ product.name }}
      </div>
      <span class="footer-subtitle pointer">
        View resume
      </span>
      <div
        v-if="!hideButton"
        class="footer-button flex-center">
        <button
          type="button"
          class="btn btn-primary button-primary"
          @click="$emit('selectProduct', product)">
          HIRE
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShopProduct',
  props: {
    product: {
      type: Object,
      required: true,
    },
    hideButton: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      baseUrl: this.$store.state.config.baseURL,
    };
  },
};
</script>

<style lang="scss" scoped>
.shop-product {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  width: 300px;
  height: 460px;
  background-color: #fff;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 0 0 6px 6px;
  z-index: 1;
}

.shop-product-header img {
  display: block;
  width: 100%;
}

.shop-product-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  color: #262626;
  background-color: #fff;
}

.footer-title {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.footer-subtitle {
  display: inline-block;
  padding-top: 15px;
  font-size: 14px;
  text-decoration: underline;
}

.footer-button {
  padding-top: 30px;
}

.button-primary {
  padding-left: 30px;
  padding-right: 30px;
}
</style>
