<template>
  <div class="social-network">
    <ul>
      <li class="facebook flex-center">
        <i class="fab fa-facebook-f" />
        <div class="slider pointer">
          <a
            href="https://facebook.com/"
            target="_blank">
            <span>/skilled.tech</span>
            <i class="fas fa-external-link-alt" />
          </a>
        </div>
      </li>
      <li class="twitter flex-center">
        <i class="fab fa-twitter" />
        <div class="slider">
          <a
            href="https://twitter.com/"
            target="_blank">
            <span>/skilled.tech</span>
            <i class="fas fa-external-link-alt" />
          </a>
        </div>
      </li>
      <li class="instagram flex-center">
        <i class="fab fa-linkedin-in" />
        <div class="slider">
          <a
            href="https://instagram.com/"
            target="_blank">
            <span>/skilled.tech</span>
            <i class="fas fa-external-link-alt" />
          </a>
        </div>
      </li>
    </ul>
  </div>
</template>

<script/>

<style lang="scss" scoped>

.social-network {
  position: fixed;
  bottom: 70px;
  left: 30px;
  z-index: 100;

  .facebook,
  .facebook .slider {
    background-color: #3b5998;
  }

  .twitter,
  .twitter .slider {
    background-color: #55acee;
  }

  .instagram,
  .instagram .slider {
    background-color: #007ab9;
  }
}

.social-network li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  color: #fff;
}

.social-network li > i {
  font-size: 26px;
  font-weight: 700;
  z-index: 1;
}

.slider {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50px;
  width: 0px;
  height: 50px;
  overflow: hidden;
  border-radius: 0px 25px 25px 0px;
  margin-left: -25px;
  line-height: 50px;
  font-size: 18px;

  a {
    color: #fff;
    text-decoration: none;
  }

  a > i {
    display: inline;
    padding-left: 30px;
    padding-right: 15px;

  }
}

.slider span {
  padding-left: 30px;
  font-weight: 300;
}

.social-network li .slider {
  transition: width 0.2s ease;
}

.social-network li:hover .slider {
  width: 185px;
}
</style>
