<template>
  <div
    class="input"
    :class=" { 'has-error': $v.inputValue.$error }">
    <div class="input-label text-cut">
      {{ label }}
    </div>
    <input
      :value="value"
      :placeholder="placeholder"
      :type="type"
      :required="required"
      @input="onInput($event.target.value)"
      @keyup.enter="$emit('keyupEnter')">
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import {
  required,
  email,
  numeric,
  minValue,
  maxValue,
  minLength,
} from 'vuelidate/lib/validators';

export default {
  name: 'Input',
  mixins: [validationMixin],
  props: {
    value: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: '',
    },
    type: {
      type: String,
      required: false,
      default: 'text',
      validator: (value) => {
        const match = ['text', 'number', 'email', 'password'];
        return match.includes(value);
      },
    },
    required: {
      type: Boolean,
      required: false,
      default: false,
    },
    min: {
      type: Number,
      required: false,
      default: Number.MIN_SAFE_INTEGER,
    },
    max: {
      type: Number,
      required: false,
      default: Number.MAX_SAFE_INTEGER,
    },
  },
  data() {
    return {
      inputValue: this.value || '',
    };
  },
  validations() {
    return {
      inputValue: {
        required: this.required ? required : false,
        email: this.type === 'email' ? email : false,
        numeric: this.type === 'number' ? numeric : false,
        minValue: this.type === 'number' ? minValue(this.min) : false,
        maxValue: this.type === 'number' ? maxValue(this.max) : false,
        minLength: this.type === 'password' ? minLength(4) : false,
      },
    };
  },
  methods: {
    setTouched() {
      this.$v.inputValue.$touch();
    },
    isValid() {
      this.setTouched();
      return !this.$v.$invalid && !this.$v.$error;
    },
    onInput(value) {
      this.setTouched();
      this.inputValue = value;
      this.$emit('input', value);
    },
  },
};
</script>

<style lang="scss" scoped>
.input {
  color: #65687a;
  font-size: 11px;

  &.has-error {
    color: #f00;

    input {
      border-color: #f00;
      box-shadow: 0 0 2px #ff000066;
    }
  }
}

.input-label {
  padding: 5px 20px;
  font-weight: 700;
}

input {
  display: block;
  padding: 0 20px;
  width: 100%;
  line-height: 43px;
  border: 1px solid #e3e8f0;
  border-radius: 23px;
  font-size: 13px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 2px #1793cd;
  }

  &::placeholder {
    color: #b9bed1;
  }
}
</style>
