<template>
  <div
    class="textarea"
    :class="{ 'has-error': $v.textValue.$error }">
    <div class="textarea-label text-cut">
      {{ label }}
    </div>
    <textarea
      :value="value"
      :placeholder="placeholder"
      :required="required"
      @input="onInput($event.target.value)" />
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'Textarea',
  mixins: [validationMixin],
  props: {
    value: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: '',
    },
    required: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      textValue: this.value || '',
    };
  },
  validations() {
    return {
      textValue: {
        required: this.required ? required : false,
      },
    };
  },
  methods: {
    setTouched() {
      this.$v.textValue.$touch();
    },
    isValid() {
      this.setTouched();
      return !this.$v.$invalid && !this.$v.$error;
    },
    onInput(value) {
      this.setTouched();
      this.textValue = value;
      this.$emit('input', value);
    },
  },
};
</script>

<style lang="scss" scoped>
.textarea {
  color: #65687a;
  font-size: 11px;

  &.has-error {
    color: #f00;

    textarea {
      border-color: #f00;
      box-shadow: 0 0 2px #ff000066;
    }
  }
}

.textarea-label {
  padding: 5px 20px;
  font-weight: 700;
}

textarea {
  display: block;
  padding: 0 20px;
  width: 100%;
  min-height: 200px;
  line-height: 43px;
  border: 1px solid #e3e8f0;
  border-radius: 23px;
  font-size: 13px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 2px #1793cd;
  }

  &::placeholder {
    color: #b9bed1;
  }
}
</style>
