<template>
  <div class="my-account-user">
    <div class="my-account-welcome">
      <div class="welcome-title flex-center">
        <span>Welcome {{ user.firstName }}</span>
      </div>
    </div>
    <div
      v-if="userProducts.length"
      class="user-hires">
      <div class="user-hires-info">
        You have {{ userProducts.length }} hires available.
      </div>
      <div class="row">
        <div
          v-for="(product, i) in userProducts"
          :key="i"
          class="col-md-4 flex-center">
          <ShopProduct
            :product="product"
            :hide-button="true" />
        </div>
      </div>
    </div>
    <div
      v-else
      class="user-hires">
      <div class="user-hires-info">
        You dont have any active hires. Please select from below.
      </div>
      <div class="row">
        <div
          v-for="(product, i) in products"
          :key="i"
          class="col-md-4 flex-center">
          <ShopProduct
            :product="product"
            @selectProduct="selectProduct" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ShopProduct from '@/components/shared/ShopProduct.vue';

export default {
  name: 'MyAccountUser',
  components: {
    ShopProduct,
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    userProducts() {
      return this.$store.state.shop.userProducts;
    },
    products() {
      return this.$store.state.shop.products || [];
    },
  },
  mounted() {
    if (!this.products.length) {
      this.$store.dispatch('getProducts');
    }

    this.$store.dispatch('getUserProducts', this.user.userId);
  },
  methods: {
    selectProduct(product) {
      this.$store.dispatch('selectProduct', product);
    },
  },
};
</script>

<style lang="scss" scoped>
.my-account-welcome {
  padding: 30px 0;

  .welcome-title {
    font-size: 25px;
  }

  .welcome-title span {
    position: relative;
    padding: 10px 0;

    &:after {
      content:'';
      position:absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #5e5a5a;
      height: 4px;
      border-radius: 4px;
    }
  }
}

.user-hires-info {
  padding-bottom: 50px;
  font-size: 24px;
  text-align: center;
}
</style>
