<template>
  <div class="section-skilled-tech row">
    <div class="col-md-2" />
    <div
      v-if="mainArticle"
      class="col-md-8">
      <div class="main-article">
        <div class="featured-services-title flex-center">
          <span>Skilled tech IT Services</span>
        </div>
        <div
          v-for="(description, i) in mainArticle.descriptions"
          :key="i"
          class="featured-services-description">
          {{ description }}
        </div>
      </div>
      <div class="articles row">
        <SectionArticleShort
          v-for="(article, i) in articles"
          :key="i"
          :title="article.title"
          :description="article.description"
          class="col-md-4 text-center" />
      </div>
    </div>
    <div class="col-md-2" />
  </div>
</template>

<script>
import SectionArticleShort from '@/components/shared/SectionArticleShort.vue';

export default {
  name: 'SectionSkilledTech',
  components: {
    SectionArticleShort,
  },
  computed: {
    mainArticle() {
      return this.$store.state.about?.skilledTech?.mainArticle;
    },
    articles() {
      return this.$store.state.about?.skilledTech?.articles || [];
    },
  },
};
</script>

<style lang="scss" scoped>
.section-skilled-tech {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}

.featured-services-title {
  margin-bottom: 35px;
  font-size: 25px;
}

.featured-services-description {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.articles {
  padding-top: 40px;
}
</style>
