<template>
  <div class="about">
    <Banner class="flex-center">
      <BannerContentAbout class="container" />
    </Banner>
    <SectionSkilledTech />
    <SectionWhyWork />
    <SectionHireTalent />
  </div>
</template>

<script>
import Banner from '@/components/shared/Banner.vue';
import BannerContentAbout from '@/components/banner-content/BannerContentAbout.vue';
import SectionSkilledTech from '@/components/about/SectionSkilledTech.vue';
import SectionWhyWork from '@/components/about/SectionWhyWork.vue';
import SectionHireTalent from '@/components/about/SectionHireTalent.vue';

export default {
  name: 'About',
  components: {
    Banner,
    BannerContentAbout,
    SectionSkilledTech,
    SectionWhyWork,
    SectionHireTalent,
  },
  mounted() {
    this.$store.dispatch('getAboutData');
  },
};
</script>

<style lang="scss" scoped>

</style>
