<template>
  <div class="home">
    <Banner class="flex-center">
      <BannerContentHome class="container" />
    </Banner>
    <SectionFeaturedServices class="container" />
    <SectionStories />
    <SectionSkilledServices class="container" />
    <SectionWhyWork />
    <SectionContact class="container" />
  </div>
</template>

<script>
import Banner from '@/components/shared/Banner.vue';
import BannerContentHome from '@/components/banner-content/BannerContentHome.vue';
import SectionFeaturedServices from '@/components/home/SectionFeaturedServices.vue';
import SectionStories from '@/components/home/SectionStories.vue';
import SectionSkilledServices from '@/components/home/SectionSkilledServices.vue';
import SectionWhyWork from '@/components/home/SectionWhyWork.vue';
import SectionContact from '@/components/home/SectionContact.vue';

export default {
  name: 'Home',
  components: {
    Banner,
    BannerContentHome,
    SectionFeaturedServices,
    SectionStories,
    SectionSkilledServices,
    SectionWhyWork,
    SectionContact,
  },
  mounted() {
    this.$store.dispatch('getHomeData');
  },
};
</script>

<style lang="scss" scoped>
.banner-container {
  bottom: 20px;
}
</style>
