<template>
  <div class="my-account container">
    <MyAccountUser />
  </div>
</template>

<script>
import MyAccountUser from '@/components/my-account/MyAccountUser.vue';

export default {
  name: 'MyAccount',
  components: {
    MyAccountUser,
  },
};
</script>

<style lang="scss" scoped>
.my-account {
  padding-top: 80px;
  min-height: 90vh;
}
</style>
