<template>
  <div class="services">
    <Banner class="flex-center">
      <BannerContentServices class="container" />
    </Banner>
    <SectionFeaturedServices />
    <SectionWhyWork />
    <SectionHireTalent />
  </div>
</template>

<script>
import Banner from '@/components/shared/Banner.vue';
import BannerContentServices from '@/components/banner-content/BannerContentServices.vue';
import SectionFeaturedServices from '@/components/services/SectionFeaturedServices.vue';
import SectionWhyWork from '@/components/services/SectionWhyWork.vue';
import SectionHireTalent from '@/components/about/SectionHireTalent.vue';

export default {
  name: 'Services',
  components: {
    Banner,
    BannerContentServices,
    SectionFeaturedServices,
    SectionWhyWork,
    SectionHireTalent,
  },
  mounted() {
    this.$store.dispatch('getServicesData');
  },
};
</script>

<style lang="scss" scoped>

</style>
