<template>
  <div class="section-contact">
    <div class="contact-title text-upper text-center">
      Contact us
    </div>
    <div class="contact-body">
      <ContactForm id="contact-form" />
    </div>
  </div>
</template>

<script>
import ContactForm from '@/components/shared/ContactForm.vue';

export default {
  name: 'SectionContactUs',
  components: {
    ContactForm,
  },
};
</script>

<style lang="scss" scoped>
.section-contact {
  padding: 40px 0;
}

.contact-title {
  margin-bottom: 60px;
  color: #000;
  font-size: 40px;
}
</style>
