<template>
  <div class="section-featured-services">
    <div class="services-title flex-center">
      <span>{{ title }}</span>
    </div>
    <div class="row">
      <div class="col-md-1" />
      <div class="col-md-10">
        <SectionArticleLong
          v-for="(article, i) in articles"
          :key="i"
          :title="article.title"
          :description="article.description"
          :img-src="article.image"
          :direction="i % 2 === 0 ? 'left' : 'right'" />
      </div>
      <div class="col-md-1" />
    </div>
  </div>
</template>

<script>
import SectionArticleLong from '@/components/shared/SectionArticleLong.vue';

export default {
  name: 'SectionFeaturedServices',
  components: {
    SectionArticleLong,
  },
  computed: {
    title() {
      return this.$store.state.home?.featuredServices?.title || '';
    },
    articles() {
      return this.$store.state.home?.featuredServices?.articles || [];
    },
  },
};
</script>

<style lang="scss" scoped>
.section-featured-services {
  padding-top: 50px;
  padding-bottom: 50px;

  .services-title{
    margin-bottom: 94px;
  }

  .services-title span {
    position: relative;
    padding-bottom: 10px;
    font-size: 25px;

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 15%;
      right: 15%;
      background: #5e5a5a;
      height: 6px;
      border-radius: 6px;
    }
  }

  .long-article {
    height: 252px;
  }
}

</style>
