<template>
  <div class="section-stories">
    <div class="container">
      <div class="success-stories-title text-center text-upper">
        <span>Success Stories</span>
      </div>
      <div class="success-stories-images">
        <img
          v-for="(image, i) in images"
          :key="i"
          :src="require(`@/assets/images/${image}`)">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionStories',
  computed: {
    images() {
      return this.$store.state.home?.successStories?.images || [];
    },
  },
};
</script>

<style lang="scss" scoped>
.section-stories {
  background-color: #f6f8fb;
}

.success-stories-title {
  padding: 30px 0 35px 0;
  font-size: 25px;
}

.success-stories-images {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.success-stories-images img {
  display: block;
  height: 110px;
}
</style>
