<template>
  <div class="section-skilled-services">
    <div class="skilled-tech-services row">
      <div class="col-md-5">
        <div class="main-article-title">
          {{ mainArticle.title }}
        </div>
        <div class="main-article-description">
          {{ mainArticle.description }}
        </div>
      </div>
      <div class="col-md-1" />
      <div class="col-md-6 logo-text">
        <span class="x-company">x</span>
        <span class="full-stop-company">.</span>
        <span class="name-company">COMPANY</span>
      </div>
    </div>
    <div class="row">
      <SectionArticleShort
        v-for="(article, i) in articles"
        :key="i"
        :title="article.title"
        :description="article.description"
        class="col-md-4 text-center" />
    </div>
  </div>
</template>

<script>
import SectionArticleShort from '@/components/shared/SectionArticleShort.vue';

export default {
  name: 'SectionSkilledServices',
  components: {
    SectionArticleShort,
  },
  computed: {
    mainArticle() {
      return this.$store.state.home?.skilledServices?.mainArticle || {};
    },
    articles() {
      return this.$store.state.home?.skilledServices?.articles || [];
    },
  },
};
</script>

<style lang="scss" scoped>
.section-skilled-services {
  padding-top: 30px;
  padding-bottom: 60px;
}

.main-article-title {
   font-size: 25px;
   margin-bottom: 25px;
}

.main-article-description {
  font-size: 20px;
  font-weight: 300;
}

.skilled-tech-services {
  margin-bottom: 50px;
}

.logo-text {
   font-size: 88px;
   font-weight: 700;

   .x-company { color: #156489; }
   .full-stop-company { color: #c32ea6; }
   .name-company { color: #707070; }
}
</style>
