<template>
  <a
    class="navbar-brand logo"
    href="#">
    <img
      v-if="logoSrc"
      :src="logoSrc"
      alt="Logo"
      class="logo-img">
    <span
      v-else
      class="logo-txt">
      <span class="color-blue">
        x
      </span>
      <span class="color-red">
        .
      </span>
      <span>COMPANY</span>
    </span>
  </a>
</template>

<script>
export default {
  name: 'Logo',
  data() {
    return {
      logoSrc: '',
    };
  },
};
</script>

<style lang="scss" scoped>
.logo-img {
  display: block;
  height: 50px;
}

.logo-txt {
  color: #fff;
  font-size: 36px;
  font-weight: 700;

  & > span {
    display: inline-block;
  }

  .color-blue {
    color: #156489;
  }

  .color-red {
    color: #c32ea6;
  }
}
</style>
