<template>
  <ul class="navbar-nav">
    <li
      v-for="(route, i) in routes"
      :key="i"
      class="nav-item">
      <router-link
        :to="route.routeName"
        class="nav-link">
        {{ route.name }}
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Navigation',
  data() {
    return {
      routes: [
        {
          name: 'Home',
          routeName: 'home',
        },
        {
          name: 'About',
          routeName: 'about',
        },
        {
          name: 'Services',
          routeName: 'services',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.router-link-active {
  border-bottom: 1px solid #fff;
}

.navbar-nav a {
  color: #fff;
  font-size: 18px;

  &.nav-link {
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.nav-item {
  margin-right: 10px;
}
</style>
