<template>
  <div class="navbar navbar-expand-lg fixed-top header">
    <div class="container">
      <HeaderLogo />
      <HeaderNavigation />
      <HeaderOptions />
    </div>
  </div>
</template>

<script>
import HeaderLogo from './HeaderLogo.vue';
import HeaderNavigation from './HeaderNavigation.vue';
import HeaderOptions from './HeaderOptions.vue';

export default {
  name: 'Header',
  components: {
    HeaderLogo,
    HeaderNavigation,
    HeaderOptions,
  },
};
</script>

<style lang="scss" scoped>
.header {
  min-height: 72px;
  color: #fff;
  background-color: rgba(#000, 0.5);
  backdrop-filter: blur(30px);
  z-index: 99;
}
</style>
