<template>
  <div class="options flex-center-v">
    <div class="login-wrapper">
      <div
        class="flex-center-v pointer"
        @click="openModal">
        <span>{{ isAuthenticated ? `Welcome ${user.firstName}` : 'LOGIN' }}</span>
        <i class="fa fa-user-circle icon-user" />
      </div>
      <div
        v-if="isModalOpen"
        class="user-popup-wrapper">
        <div v-show="!isAuthenticated">
          <Login
            v-show="!isSignupOpen"
            @closeModal="closeModal"
            @openSignup="openSignup" />
          <Signup
            v-show="isSignupOpen"
            @closeModal="closeModal" />
        </div>
        <div v-show="isAuthenticated">
          <Logout @closeModal="closeModal" />
        </div>
      </div>
    </div>
    <div
      class="cart-wrapper flex-center-v"
      @click="toggleShop">
      <i class="fa fa-shopping-cart icon-shopping" />
      <span
        v-show="selectedProductsCount"
        ref="cartCounter"
        class="cart-counter flex-center pointer">
        {{ selectedProductsCount }}
      </span>
    </div>
  </div>
</template>

<script>
import Login from '@/components/login/Login.vue';
import Logout from '@/components/login/Logout.vue';
import Signup from '@/components/login/Signup.vue';

export default {
  name: 'Options',
  components: {
    Login,
    Logout,
    Signup,
  },
  data() {
    return {
      isModalOpen: false,
      isSignupOpen: false,
      interval: null,
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    user() {
      return this.$store.state.user;
    },
    selectedProductsCount() {
      return this.$store.state.shop.selectedProducts.length;
    },
  },
  watch: {
    selectedProductsCount(val) {
      if (val) {
        clearInterval(this.interval);
        const countEl = this.$refs.cartCounter;

        let blinkedTimes = 0;
        this.interval = setInterval(() => {
          blinkedTimes += 1;
          countEl.style.backgroundColor = blinkedTimes % 2 === 0 ? '#fff' : '#ffa500';

          if (blinkedTimes > 3) {
            clearInterval(this.interval);
          }
        }, 170);
      }
    },
  },
  methods: {
    openModal() {
      this.isModalOpen = true;
    },
    closeModal() {
      this.isSignupOpen = false;
      this.isModalOpen = false;
    },
    openSignup() {
      this.isSignupOpen = true;
    },
    toggleShop() {
      this.$store.dispatch('toggleShop', true);
    },
  },
};
</script>

<style lang="scss" scoped>
.login-wrapper,
.cart-wrapper {
  position: relative;
}

.cart-counter {
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 16px;
  height: 16px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  font-size: 12px;
}

.login-wrapper {
  font-size: 14px;
}

.icon-shopping,
.icon-user {
  font-size: 20px;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.user-popup-wrapper {
  position: absolute;
  top: 130%;
  right: 0;
  min-width: 370px;
  background-color: #fff;
  box-shadow: 0 30px 40px #00000029;
  border-radius: 5px;
  cursor: default;
}
</style>
