<template>
  <div class="login user-popup">
    <Spinner :loading="loading" />
    <div class="user-popup-header flex-center-v">
      <span class="header-title">
        LOGIN
      </span>
      <i
        class="fa fa-times close-icon pointer"
        @click="$emit('closeModal')" />
    </div>
    <vue-scroll>
      <div class="user-popup-body">
        <div class="user-popup-content">
          <Input
            ref="email"
            v-model="email"
            :type="'email'"
            :label="'YOUR E-MAIL'"
            :placeholder="'Enter your e-mail'"
            :required="true"
            class="input-element"
            @keyupEnter="login" />
          <Input
            ref="password"
            v-model="password"
            :type="'password'"
            :label="'PASSWORD'"
            :placeholder="'Enter your password'"
            :required="true"
            class="input-element"
            @keyupEnter="login" />
          <div
            v-if="errorMsg"
            class="msg-error">
            {{ errorMsg }}
          </div>
          <div class="forgot-password pointer">
            Forgot password?
          </div>
          <button
            type="button"
            class="btn btn-primary button-primary"
            @click="login">
            LOG IN
          </button>
        </div>
        <div class="user-popup-footer flex-center">
          <div class="footer-label">
            NEW TO x.COMPANY?
          </div>
          <span
            class="footer-link pointer"
            @click="$emit('openSignup')">
            SIGN UP
          </span>
        </div>
      </div>
    </vue-scroll>
  </div>
</template>

<script>
import Input from '@/components/shared/form-elements/Input.vue';
import Spinner from '@/components/shared/Spinner.vue';

export default {
  name: 'Login',
  components: {
    Input,
    Spinner,
  },
  data() {
    return {
      email: '',
      password: '',
      errorMsg: '',
      loading: false,
    };
  },
  methods: {
    isValid() {
      let isValid = true;
      Object.values(this.$refs).forEach((value) => {
        isValid = value.isValid() && isValid;
      });

      return isValid;
    },
    login() {
      if (!this.isValid()) return;

      this.loading = true;
      this.errorMsg = '';
      const loginData = {
        email: this.email,
        password: this.password,
      };

      this.$store.dispatch('login', loginData).then(() => {
        this.$emit('closeModal');
      }).catch((err) => {
        this.errorMsg = err.response?.data?.message || '';
      }).finally(() => {
        this.loading = false;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.spinner {
  top: 36px;
}

.input-element:not(:first-child) {
  margin-top: 10px;
}

.forgot-password {
  padding: 20px;
  text-decoration: underline;
}

.btn {
  font-weight: 700;
}
</style>
