<template>
  <div class="logout user-popup">
    <div class="user-popup-header flex-center-v">
      <span class="header-title" />
      <i
        class="fa fa-times close-icon pointer"
        @click="$emit('closeModal')" />
    </div>
    <div class="user-popup-footer flex-center">
      <div
        class="my-account text-center pointer"
        @click="goTo('/my-account')">
        MY ACCOUNT
      </div>
      <button
        type="button"
        class="btn btn-primary button-primary"
        @click="logout">
        LOG OUT
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Logout',
  methods: {
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$emit('closeModal');

        // If user is on protected route, redirect to home
        if (this.$route.meta.requiresAuth) {
          this.$router.push('/home');
        }
      }).catch((err) => {
        console.error('[logout] Error on action: ', err);
      });
    },
    goTo(route) {
      this.$emit('closeModal');
      this.$router.push(route);
    },
  },
};
</script>

<style lang="scss" scoped>
.user-popup-footer {
  border-top: 0;
  flex-direction: column;
}

.my-account {
  padding-bottom: 10px;
  text-decoration: underline;
}
</style>
