<template>
  <div class="signup user-popup">
    <Spinner :loading="loading" />
    <div class="user-popup-header flex-center-v">
      <span class="header-title">
        SIGN UP
      </span>
      <i
        class="fa fa-times close-icon pointer"
        @click="$emit('closeModal')" />
    </div>
    <vue-scroll>
      <div class="user-popup-body">
        <div class="user-popup-content">
          <div class="content-name-label">
            <Input
              ref="firstName"
              v-model="firstName"
              :label="'FIRST NAME'"
              :placeholder="'First name'"
              :required="true"
              @keyupEnter="register" />
            <Input
              ref="lastName"
              v-model="lastName"
              :label="'LAST NAME'"
              :placeholder="'Last name'"
              :required="true"
              @keyupEnter="register" />
          </div>
          <Input
            ref="email"
            v-model="email"
            :type="'email'"
            :label="'E-MAIL'"
            :placeholder="'Enter your e-mail'"
            :required="true"
            class="input-element"
            @keyupEnter="register" />
          <Input
            ref="password"
            v-model="password"
            :type="'password'"
            :label="'PASSWORD'"
            :placeholder="'Create your strong password'"
            :required="true"
            class="input-element"
            @keyupEnter="register" />
          <Input
            ref="passwordRepeat"
            v-model="passwordRepeat"
            :type="'password'"
            :label="'CONFIRM PASSWORD'"
            :placeholder="'Repeat your password'"
            :required="true"
            :class="{ 'has-error': $v.passwordRepeat.$invalid }"
            class="input-element"
            @keyupEnter="register" />
        </div>
        <div class="user-popup-footer country-selection">
          <Input
            ref="country"
            v-model="country"
            :label="'COUNTRY'"
            :placeholder="'Select your country'"
            :required="false"
            class="input-element"
            @keyupEnter="register" />
          <Input
            ref="city"
            v-model="city"
            :label="'CITY'"
            :placeholder="'Select your city'"
            :required="true"
            class="input-element"
            @keyupEnter="register" />
          <div
            v-if="errorMsg"
            class="msg-error">
            {{ errorMsg }}
          </div>
        </div>
        <div class="user-popup-footer flex-center">
          <div class="terms-and-conditions">
            <span class="checkbox-custom">
              <span>
                Accept the
                <span class="pointer text-underline">Terms</span>
                and
                <span class="pointer text-underline">Conditions</span>
              </span>
              <input
                v-model="termsChecked"
                type="checkbox">
              <span
                class="checkmark"
                @click="termsChecked = !termsChecked" />
            </span>
          </div>
          <button
            type="button"
            class="btn btn-primary button-primary"
            :disabled="!termsChecked"
            @click="register">
            SIGN UP
          </button>
        </div>
      </div>
    </vue-scroll>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, sameAs } from 'vuelidate/lib/validators';
import Input from '@/components/shared/form-elements/Input.vue';
import Spinner from '@/components/shared/Spinner.vue';

export default {
  name: 'Signup',
  components: {
    Input,
    Spinner,
  },
  mixins: [validationMixin],
  data() {
    return {
      termsChecked: false,
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      passwordRepeat: '',
      country: '',
      city: '',
      errorMsg: '',
      loading: false,
    };
  },
  validations() {
    return {
      password: { required },
      passwordRepeat: { sameAsPassword: sameAs('password') },
    };
  },
  methods: {
    isValid() {
      let isValid = true;
      Object.values(this.$refs).forEach((value) => {
        isValid = value.isValid() && isValid;
      });

      // Check for password repeat
      isValid = isValid && !this.$v.passwordRepeat.$invalid;
      isValid = isValid && this.termsChecked;

      return isValid;
    },
    register() {
      if (!this.isValid()) return;

      this.loading = true;
      this.errorMsg = '';
      const userData = {
        firstname: this.firstName,
        lastname: this.lastName,
        email: this.email,
        password: this.password,
        cityId: 1,
        countryId: 1,
      };

      this.$store.dispatch('register', userData).then(() => {
        this.$emit('closeModal');
      }).catch((err) => {
        this.errorMsg = err.response.data.message;
      }).finally(() => {
        this.loading = false;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.spinner {
  top: 36px;
}

.input-element:not(:first-child) {
  margin-top: 10px;
}

.content-name-label {
  display: flex;
  justify-content: space-between;

  .input {
    width: 46%;
  }
}

.country-selection {
  height: auto;
  padding: 20px 0;
}

.user-popup-footer {
  flex-direction: column;

  &:last-child {
    height: 140px;
  }
}

.terms-and-conditions {
  line-height: 25px;
  font-size: 13px;
  margin-bottom: 10px;

  .text-underline {
    text-decoration: underline;
  }
}
</style>
