<template>
  <div id="app">
    <nav class="main-header">
      <Header />
    </nav>
    <RouterView />
    <Footer />
    <SocialNetwork />
    <Shop v-if="isShopOpen" />
  </div>
</template>

<script>
import Shop from '@/components/shop/Shop.vue';
import SocialNetwork from '@/components/shared/SocialNetwork.vue';
import Header from '@/components/header/Header.vue';
import Footer from '@/components/shared/Footer.vue';

export default {
  name: 'App',
  components: {
    Shop,
    SocialNetwork,
    Header,
    Footer,
  },
  computed: {
    isShopOpen() {
      return this.$store.state.shop.isOpen;
    },
  },
};
</script>

<style lang="scss">
@import './scss/main.scss';

#app {
  color: #000;
  background-color: #fff;
}
</style>
